<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Hi This is VioletteStyle Welcome to my world!
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                I love fashion, beauty and lifestyle. I can share them with you.
                If you like my style, follow me on the instagram:violette.style
                Thank you so much!
            </p>
        </div>
    </div>
</section>